<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/css/uikit.min.css" />
    
    <title>Turkey Earthquake Map</title>
</head>
<body>

    <header>
       <div class="header uk-width-1-1">
            <nav class="" uk-navbar>

                <div class="uk-navbar-left">
            
                  NAVBAR LEFT
            
                </div>

                <div class="uk-navbar-center">
            
                   <div class="logo-box">
                     <img src="/Media/Main-logo.png"/>
                   </div>
            
                </div>

                <div class="uk-navbar-right">
            
                    NAVBAR RİGHT
            
                </div>
            
            </nav>
       </div>
    </header> 


    <main>
        <div class="uk-width-1-1 uk-position-relative uk-overflow-hidden" uk-height-viewport="offset-top: true">
            <video src="/Media/Okyanus - 74888.mp4" autoplay loop uk-cover>
        </div> 

    </main>


    <footer></footer>


    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit-icons.min.js"></script>
    <script href="/JS/script.js"></script>
</body>
</html>